.sidebar {
  width: 350px;
  height: 70vh;
  padding: 40px 30px;
  margin: 20px;

  background: rgba(19, 18, 18, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.divider {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.cityList {
  list-style: none;
  padding: 0;
}

.cityItem {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.locationIcon {
  margin-right: 15px;
  font-size: 18px;
  opacity: 0.7;
}
